Flask==1.1.2
Flask-Cors==3.0.8
Flask-Script==2.0.6
Flask-Migrate==2.6.0
Flask-SQLAlchemy==2.4.0
postgres==3.0.0
psycopg2==2.9.1
psycopg2-binary==2.8.2
psycopg2-pool==1.1
SQLAlchemy==1.3.4
python-jose-cryptodome==1.3.2
